.header {
	height: 30vh;
	display: flex;
	justify-content: space-between;
	padding-right: 40px;
	@media only screen and (max-width: 760px) {
		height: 20vh;
	}
	.header__avatar {
		cursor: pointer;
	}
	.header__right {
		display: flex;
		align-items: center;
		ul {
			align-items: center;
			display: flex;

			li {
				margin-right: 50px;
				font-size: 1.2rem;
				text-transform: uppercase;
				color: #224165;
				list-style: none;
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
				@media only screen and (max-width: 760px) {
					font-size: 1rem;
					margin-right: 30px;
				}
			}
		}
	}
}
